<!doctype html>
<html>
  <head>
    <title>Hi there</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
  </head>
  <body>

    <script src="/static/react/react-with-addons.js"></script>
    <script src="/static/react/react-dom.js"></script>
    <script src="/static/rtable.js"></script>
    <div id="react-container" class="container"></div>
    <script>
    ReactDOM.render(
      React.createElement(RTable, {
        dataUrl: '/api/data/',
        columns: [
          {'label': '#', 'name': 'amount'},
          {'label': 'Name', 'name': 'foo'},
          {'label': 'Favourite colour', 'name': 'bar'},
        ],
        filters: [
          {'label': 'Name', 'name': 'foo'},
          {'label': 'Colour', 'name': 'bar', 'choices': [
            {'label': 'Beige', 'value': 'beige'},
            {'label': 'Blue', 'value': 'blue'},
            {'label': 'Green', 'value': 'green'},
          ]},
        ]
      }),
      document.getElementById('react-container')
    );
    </script>
  </body>
</html>
